html,
body,
#root
.dashboard,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Sora', sans-serif;
}
body {
    padding: 0 !important;
}

.dashboard {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.custom-datepicker {
    color: #0f2922 !important; /* Replace with your desired background color */
     /* Replace with your desired text color */
  }
  .react-datepicker-wrapper {
    height: 30px;
  }

  .fc-theme-standard .fc-popover {
    color: #0f2922 !important;
  }

  .fc-theme-standard .fc-list-day-cushion {
    background-color: #888 !important;
  }

  .fc-event-future:hover {
    color: #000 !important;
  }
  /* .fc-event.fc-event-start.fc-event-end.fc-event-future.fc-list-event:hover {
    background-color: #000;
  } */