*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  
  }
  .conatiner{
    display: flex;
   flex-direction: column;
   margin-right: auto;
   
   
  }
  .main{
    width: 100%;
    padding: 20px;
    flex: 1;
  }
  .sidebar{
  background:gray;
  color: white;
  height: 100vh;
  width: 50%;
  transition: all 0.5s;
  }
  .top-section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
  }
  .link:hover{
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
  }
  .active{
    background: lightskyblue;
    color: #000;
  }
  .icon, .link-text{
    font-size: 20px;
  }
  .sidebar {
    overflow: hidden;
    background-color: #1f2937; /* dark gray for background */
    color: white;
    transition: width 0.3s;
  }
  .sidebar .link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    border-radius: 0.375rem; /* rounded corners */
  }
  .sidebar .link:hover {
    background-color: #374151; /* darker gray on hover */
  }
  .sidebar .active {
    background-color: #374151; /* active state background */
  }
  