*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}
.conatiner{
  display: flex;  
}
.main{
  width: 100%;
  padding: 20px;
  flex: 1;
}
.sidebar{
background:#fff;
color: #000;
width: 50%;
transition: all 0.5s;
}
.top-section{
display: flex;
align-items: center;
padding: 10px 15px ;
}
.bars{
  display: flex;
  font-size: 20px;
  /* margin-left: 70px; */
}
.link{
  display: flex;
  color: #2d5986;
  padding: 10px 15px;
  gap: 15px;
}
.link:hover{
  background: #79a6d2;
  color: #fff;
  transition: all 0.5s;
}
.profileactive .active{
  background: #79a6d2;
  color: #fff;
}
.icon, .link-text{
  font-size: 16px;
}