.bg-dark-blue {
    background-color: #2d5986;
}
.bg-light-blue {
    background-color: #79a6d2;
}
.text-dark-blue{
    color: #2d5986;
}
.text-light-blue{
    color: #6699cc;
}
.imgListHeight {
    height: 300px;
}